.select {
  font-weight: 300 !important;

  &__single-value,
  &__control {
    background-color: transparent !important;
    color: inherit !important;
  }

  &__menu {
    background-color: var(--white) !important;
    color: #000 !important;
  }
  
  &__control,
  &__menu {
    border: 1px solid !important;
    border-color: inherit !important;
    border-radius: 0 !important;

    &:hover {
      border-color: inherit !important;
    }
  }

  &__placeholder {
    color: inherit !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__value-container {
    padding: 0 !important;
  }

  &__option {
    &--is-focused {
      background-color: var(--blue) !important;
      color: var(--white) !important;
    }
  }
}
