.boxed-value {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.5rem 1rem;

  &--no-value {
    opacity: 0.2;
  }

  &__value {
    padding: 0 0.6rem;
  }

  legend {
    padding: 0 0.5rem;
  }
}
