.vote-form-cancel-prompt {
  legend {
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 500;
  }

  h2 {
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 600;
  }

  .modal-footer {
    > * {
      margin-right: 2.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
