.account {
  &__title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.56px;
    color: var(--grey);
    padding-left: 15px;
  }

  &__identity-control {
    font-size: 38px;
    font-weight: 600 !important;
    color: var(--white);

    .select__control {
      border: none !important;
      padding: 0;
    }
  }

  &__claim-power {
    text-align: right;

    .btn {
      background-color: var(--turq);
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 1.63px;
      color: var(--black);
    }
  }

  &__menu {
    margin-bottom: 2rem;
  }

  &__identity-card {
    margin-bottom: 2rem;
    box-shadow: none;
  }
}
