.nav-link-button {
  a {
    border-top: 2px solid transparent;
    color: var(--grey);
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-color 0.2s, color 0.2s;
    width: 100%;

    &:hover {
      border-color: var(--grey);
    }

    &.active {
      border-color: var(--light-blue);
      color: var(--light-blue);
    }
  }
}
