.how-it-works-page {
  &.page {
    padding-bottom: 0;
    padding-top: 0;

    > {
      .row {
        > {
          [class*='col'] {
            padding: 0;
          }
        }
      }
    }
  }

  .page {
    &__left-content {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      line-height: 1.7rem;
      margin-bottom: 0;

      > {
        [class*='container'] {
          > {
            .row {
              margin-bottom: 10rem;

              > {
                [class*='col-md'] {
                  padding-right: 5rem;

                  &:last-child {
                    padding-right: inherit;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  [class*='how-it-works-page__container'] {
    padding: 3rem;

    &.how-it-works-page {
      &__container-group {
        padding: 0;
        
        > {
          .row {
            > {
              [class*='col'] {
                &:first-child {
                  padding-left: 0;
                }

                &:last-child {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__intro {
    margin-bottom: 4rem !important;
    text-align: justify;
  }

  &__votes-cost-equation {
    color: var(--turq);
    font-size: 2rem;
    font-weight: bold;
  }

  &__button-group {
    .btn {
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__image-group {
    display: flex;
    justify-content: space-between;

    img {
      width: 49%;
    }
  }

  &__container-group {
    > {
      * {
        &:nth-child(even) {
          background-color: transparent;
        }
      }
    }
  }

  &__container {
    &1 {
      background-color: var(--light-navy);
      text-align: center;
    }

    &2 {
      background-color: var(--dark-blue-grey);
    }
  }

  &__requirements {
    text-align: center;

    &__icon {
      align-items: center;
      display: flex;
      height: 7rem;
      justify-content: center;
      margin-bottom: 2rem;
    }

    &__content {
      text-align: center;
    }
  }

  &__step {
    &5,
    &6 {
      margin-bottom: 0 !important;
      padding: 5rem 1rem;
    }

    &5 {
      background-color: var(--blue);

      > {
        .col {
          > {
            .container {
              max-width: 57rem;
            }
          }
        }
      }

      .btn {
        &-secondary {
          background-color: var(--white);
          color: var(--blue);

          &:hover {
            background-color: transparent;
            border-color: var(--white);
            color: var(--white);
          }
        }

        &-outline {
          &-secondary {
            border-color: var(--white);
            color: var(--white);

            &:hover {
              background-color: var(--white);
              color: var(--blue);
            }
          }
        }
      }
    }

    &6 {
      background-color: var(--white);
      color: var(--black);

      h2 {
        color: var(--blue);
      }
    }
  }

  &__voting-screen {
    [class*='how-it-works-page__container'] {
      padding: 3rem 7rem;
    }

    .how-it-works-page {
      &__container-group {
        margin-top: 2rem;

        > {
          .row {
            align-items: center;
          }
        }
      }
    }
  }

  .highlight {
    color: var(--turq);
    font-weight: 600;
  }

  h3 {
    color: var(--grey);
    font-size: 1.2rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 600;
  }
}
