.asset-card {
  background-color: var(--grey);
  color: var(--black);
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 1.5rem;

  &--projected {

  }
  
  &--pending {
    background-color: transparent;
    border: 1px solid var(--turq);
    color: var(--white);
  }
  
  &--completed {
    background-color: var(--turq);
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__label {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;

    &__icon {
      height: 1.3rem;
      margin-right: 0.5rem;
    }
  }
}
