:root {
  --field-grey: #cfe2eb;
  --black: #0e273b;
  --turq: #00e0cc;
  --blue: #1f6fe5;
  --blue-rgb: 31, 111, 229;
  --footer-blue: #123863;
  --grey: #adadbd;
  --dark-grey: #747480;
  --blue-bar-dark: #1f6fe5;
  --blue-bar-light: #1f6fe5;
  --white: #fff;
  --red: #ff6960;
  --field-grey-two: #cfe2eb;
  --bright-sky-blue: #00b1ff;
  --light-grey: #e5e5ee;
  --dark-blue-grey: #0c2031;
  --bright-sky-blue: #00b1ff;
  --light-navy: #143149;
}
