@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

html,
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}

h1,
h2 {
  color: var(--white);
  font-size: 2.6rem;
  font-weight: 600;
}

h3 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

strong {
  color: var(--turq);
}
