.vote-page {
  &__caption {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.32px;
    margin-bottom: 15px;
    margin-top: 32px;
    color: var(--grey);
    text-transform: uppercase;
  }

  &__connect-wallet-button {
    color: var(--red);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    text-transform: capitalize;
  }

  &__identity-control {
    margin-bottom: 1rem;
    width: 17rem;
  }

  &__token-balance {
    font-size: 1.6rem;
  }

  &__progress{
    width: 90%;

    .progress {
      height: 18px;
      background-color: var(--light-navy);
      margin-bottom: 10px;
    
      .progress-bar {
        background-color: var(--turq);
      }
    }
  }

  &__countdown {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.42px;
  }

  &__countdown-caption {
    font-size: 14px;
    font-weight: 300;
    line-height: 3;
    letter-spacing: 0.2px;
    text-align: right;
  }

  &__round-dates {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.24px;
    margin-bottom: 50px;
  }

  &__end-date {
    text-align: right;
  }

  &__details {
    align-content: space-between;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1.6rem;
    justify-content: space-between;
    width: 90%;

    > * {
      margin-bottom: 2rem;
      width: calc(50% - 0.5rem);
    }

    fieldset {
      padding: 0.5rem 1rem 1rem;
    }
  }
}
